* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	grid-template-areas: "header header header"
						"nav nav nav"
						"contenido contenido sidebar"
						"espacio1 espacio1 espacio2"
						"footer footer footer";
	
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	
	padding: 20px;
	border-radius: 4px;
}

.header {
	background-color: #12203e;
	grid-area: header;
}

nav{
	grid-area: nav;
	padding: 10px;
	background-color: #12203e;
	border-radius: 4px;

}

nav ul{
	display: flex;
	list-style: none;
}

nav li a{
	color: white;
	display: block;
	text-decoration: none;
	padding: 0.5em 1em;
}

nav li a:hover{
	background-color: #faa43d;
	color: white;
	border-radius: 4px;
}

.contenido {
	background-color: rgb(163, 13, 143);
	grid-area: contenido;
	
}

.sidebar {
	
background-color: #faa43d;
	grid-area: sidebar;
	
}

.sidebar img{
	width: 100%;
	margin-top: 10px;

}


.espacio1 {
	background-color: #55a8fd;
	grid-area: espacio1;
}

.espacio1 img{
	width: 100%;
	margin-top: 10px;

}

.espacio2 {

	background-color: #0b4885;
	grid-area: espacio2;
}

.espacio2 img{
	width: 100%;
	margin-top: 10px;

}

.footer {
	
	background-color: rgb(182, 45, 45);
	grid-area: footer;
}


@media screen and (max-width: 768px){
	.contenedor {

		grid-template-areas: "header header header"
						"nav nav nav"
						"contenido contenido contenido"
						"sidebar sidebar sidebar"
						"espacio1 espacio1 espacio1"
						"espacio2 espacio2 espacio2"
						"footer footer footer";
		
}
	nav ul{
		flex-direction: column;

	}

}
